@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@1000&family=Oswald:wght@500;600&display=swap');

* {
    position: fixed;
    height: 360px;
    width: auto;
    margin: 0;
}

p {
    height: 10px;
    width: 80px;
    font-size: 25px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    color: #E7F8FF;
    background-color: black;
    padding: 40px;
    margin-top: 60px;
    border-radius: 10px;
    animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:black; left:0px; top:0px;}
  25%  {background-color:black; left:200px; top:0px;}
  50%  {background-color:black; left:200px; top:400px;}
  75%  {background-color:black; left:0px; top:400px;}
  100% {background-color:black; left:0px; top:0px;}
}
